:root {
  --background: #f6f9fe;
  --shadowRed: #f81743;
  --navbar: hsl(0, 0%, 100%);
  --black: rgba(17, 20, 22, 1);
  --primary: rgba(38, 12, 188, 1);
  --colorButton: rgba(248, 23, 67, 1);
  --cards: rgba(67, 73, 223, 1);
  --category: rgba(96, 101, 227, 1);
  --tag: #e1ebfb;
  --white: #ededed;
  --service_title: #6799e0;
  --tomato: tomato;
  --worksLinks_title: #f9476a;
  --works_background: #e5e5e5;
  --estimate_secondary: rgba(103, 153, 224, 1);
  --footer: #3a3a3a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-colorButton text-white;
  }
  .container {
    @apply md:w-9/12 md:m-auto md:px-0 px-6;
  }
}

@font-face {
  font-family: Metropolis;
  src: url(./assets/metropolis.regular.otf);
}

html,
body {
  scroll-behavior: smooth !important;
}

.img-slider {
  width: 100%;
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
}

.img-slider:hover {
  transform: scale(1.3);
}
